tbody img{
    /*Modification des dimensions de l'image*/
    width: 60px;
    height: 50px;
}

#titre{
    /*Ajout d'une couleur de fond pour la case en haut du tableau et changement de la couleur du texte*/
    background-color: #181818;
    color: white;
}

table{
    /*On aligne les éléments du tableau au centre des cases et on affiche les bordures*/
    text-align: center;
    border: black 1px solid;
}